#heading{
  font-size: 20px;
 color: white;
  font-weight: 900;
  margin-left: 180px;
  text-decoration: underline;
  background-color: red;
  border-radius: 7px;
}
#heading-1{
  margin-left: 100px;
  margin-top: 50px;
  font-size: 19px;
  text-decoration: underline;
  
}

.list{
  margin-left: 90px;
  margin-top: 30px;
  color: blue;
}
